.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 90px;
}

.container > div {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 30px;
}

.container input {
  border-radius: 5px;
  font-size: 1rem;
  color: #bbbfc7;
  width: 300px;
  height: 35px;
  border: solid #bbbfc7 1px;
  padding-left: 10px;
  position: relative;
  background: none;
  margin-top: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile_image {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  background-size: 100% 100%;
}

.file_input {
  display: none;
}

.profile_ment {
  padding-top: 40px;
  margin-left: 10px;
  font-size: 1rem;
}

.submit {
  text-align: center;
  padding-top: 6px;
  color: white;
  width: 318px;
  height: 35px;
  border-radius: 5px;
  background-color: #dbe5f8;
  margin-bottom: 20px;
}

.department_dropdown_button {
  border-radius: 5px;
  font-size: 16px;
  color: #bbbfc7;
  width: 300px;
  height: 31px;
  border: solid #bbbfc7 1px;
  padding-top: 6px;
  padding-left: 10px;
  position: relative;
  background: none;
  margin-top: 10px;
}

.department_type {
  position: absolute;
  z-index: 1;
}

.department_type > div {
  font-size: 16px;
  color: black;
  width: 300px;
  height: 31px;
  border: solid #bbbfc7 1px;
  padding-top: 6px;
  padding-left: 10px;
  position: relative;
  background-color: #f2f3f5;
}
