.parent_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  text-align: center;
  margin: 0 8px;
}

.link {
  text-decoration: none;
  color: black;
}

.link hr {
  color: #bed0ef;
}

.info_container {
  padding: 30px 0;
}

.profile_image {
  width: 140px;
  height: 140px;
  margin: 10px;
  border-radius: 15px;
  background-size: 100% 100%;
}

.text_name {
  font-size: 25px;
  font-weight: bolder;
}
