.whole_personnel {
  text-align: center;
  background-color: #f2f4f9;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(219, 219, 219);
  border-radius: 5px;
  font-weight: bolder;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 130px;
  margin: 30px;
}

.departments_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 15em;
}

.departments {
  position: relative;
  background-color: #f2f4f9;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(219, 219, 219);
  border-radius: 5px;
  font-weight: bolder;
  width: 150px;
  height: 210px;
  margin: 10px;
}

.departments_img_kindergarten {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-image: url("../../public/image/kindergarten.png");
  background-size: 100% 100%;
}

.departments_img_holykids {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-image: url("../../public/image/holykids.png");
  background-size: 100% 100%;
}

.departments_img_paulcommunity {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-image: url("../../public/image/paulcommunity.png");
  background-size: 100% 100%;
}

.departments_img_joshua {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-image: url("../../public/image/joshua.png");
  background-size: 100% 100%;
}

.departments_text {
  position: absolute;
  bottom: 10px;
  right: 5px;
}
