.container {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
  overflow: scroll;
  overflow: auto;
  white-space: nowrap;
}

.container div {
  margin-left: 10px;
}

.container::-webkit-scrollbar {
  display: none;
}

.other_department_kindergarten {
  clear: both;
  float: left;
  font-size: 15px;
  font-weight: bolder;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  width: auto;
  height: 30px;
  border-radius: 15px;
  background-color: #FDD052;
}

.other_department_holykids {
  clear: both;
  float: left;
  font-size: 15px;
  font-weight: bolder;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  width: auto;
  height: 30px;
  border-radius: 15px;
  background-color: #BED532;
}

.other_department_paulcommunity {
  clear: both;
  float: left;
  font-size: 15px;
  font-weight: bolder;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  width: auto;
  height: 30px;
  border-radius: 15px;
  background-color: #FD8F87;
}

.other_department_joshua {
  clear: both;
  float: left;
  font-size: 15px;
  font-weight: bolder;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  width: auto;
  height: 30px;
  border-radius: 15px;
  background-color: #769EFF;
}
