.content {
  margin-bottom: 60px;
}

.groups {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 95px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(219, 219, 219);
  border-radius: 15px;
  background-color: #e6ebf4;
  margin: 15px;
}

.group_modify {
  background-image: url("../../../public/image/modify.png");
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-size: 100% 100%;
  z-index: 1;
}

.group_name {
  font-weight: bolder;
  font-size: 25px;
}

.link {
  text-decoration: none;
  color: black;
}

.attendance {
  margin-top: 50px;
  text-align: center;
}

.attendance_link {
  text-decoration: none;
  color: black;
}
