.container {
  position: relative;
  text-align: center;
  margin: 0 8px;
}

.info_container {
  margin-top: 20px;
  position: relative;
}

.overlay {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20%;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
}

.overlay_text {
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}

.profile_image {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  background-size: 100% 100%;
}

.text_container {
  margin-top: 5px;
}

.text_container > div {
  padding: 1px 0;
}

.text_name {
  font-size: 1.2rem;
  font-weight: bolder;
}
